@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #232323;
}

/* header */

header { 
    background: white;
    height: 200px;
    width: 100%;
}

/* headings and logo */

h1, h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    color: rgb(28, 27, 27);
}

#logo {
    float: left;
    font-size: 500%;
}

/* navigation menu */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}

#navigation, #logo {
    line-height: 100px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #1a1a1a;
}

.active {
    border: 1px solid black;
    background: rgb(223, 176, 21);
}

/* Hero img amd cover text*/

#hero-outer {
    height: 600px;
    width: 100%;

    position: relative;
}

#cover-text #cover-text h2{
        color: white;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url('../images/omslag-pexels-rodnae-productions-7551762.jpg') no-repeat center center;
}

#cover-text {
    font-size: 100%;
    font-family: "Roboto Slab" sans-serif;
    letter-spacing: 4px;

    width: 200px;
    height: 100px;

    padding-top: 40px;
    padding-right: 10px;

    background-color: rgb(223, 176, 21, .5);

    bottom: 30px;
    right: 300px;

    position: absolute;
}

/* activities section */

#activities {
    background: white;
}

#activities div {
    color: white;
    background-color: black;
    width: 18%;
    height:600px;
    float: left;
    padding: 30px 0 0 10px;
    border: 2px solid white;
}

#activities h2 {
    color: white;
}

/* form section */

#form {
    background: red;
    color: black;
    width: 100%;
    height:600px;
    float: left;
}

/* footer */

footer {
    background: blue;
    color: white;
    width: 100%;
    height: 200px;
    float: left;
}