@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #232323;
}

/* headings and logo */

h1, h2 {
    font-family: Arial, sans-serif;
    letter-spacing: 4px;
    color: rgb(28, 27, 27);
}

#logo {
    float: left;
    font-size: 200%;
}

/* navigation menu */

#navigation {
    font-size: 110%;
    letter-spacing: 4px;
}

#navigation, #logo {
    line-height: 100px;
}

#navigation li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
    border-bottom: 1px solid #1a1a1a;
}

.active {
    border: 1px solid black;
    background: rgb(161, 203, 159);
}